vendors = webkit official

.animated
    animation-duration 1s
    animation-fill-mode both
    &.infinite
        animation-iteration-count infinite
    &.hinge
        animation-duration 2s

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut
    animation-duration 0.75s


// @import "includes/attention_seekers/bounce"
// @import "includes/attention_seekers/flash"
// @import "includes/attention_seekers/pulse"
// @import "includes/attention_seekers/rubberBand"
// @import "includes/attention_seekers/shake"
// @import "includes/attention_seekers/headShake"
// @import "includes/attention_seekers/swing"
// @import "includes/attention_seekers/tada"
// @import "includes/attention_seekers/wobble"
// @import "includes/attention_seekers/jello"
//
// @import "includes/bouncing_entrances/bounceIn"
// @import "includes/bouncing_entrances/bounceInDown"
// @import "includes/bouncing_entrances/bounceInLeft"
// @import "includes/bouncing_entrances/bounceInRight"
// @import "includes/bouncing_entrances/bounceInUp"
//
// @import "includes/bouncing_exits/bounceOut"
// @import "includes/bouncing_exits/bounceOutDown"
// @import "includes/bouncing_exits/bounceOutLeft"
// @import "includes/bouncing_exits/bounceOutRight"
// @import "includes/bouncing_exits/bounceOutUp"

@import "includes/fading_entrances/fadeIn"
@import "includes/fading_entrances/fadeInDown"
// @import "includes/fading_entrances/fadeInDownBig"
// @import "includes/fading_entrances/fadeInLeft"
// @import "includes/fading_entrances/fadeInLeftBig"
@import "includes/fading_entrances/fadeInRight"
// @import "includes/fading_entrances/fadeInRightBig"
@import "includes/fading_entrances/fadeInUp"
@import "includes/fading_entrances/fadeInUpBig"

//@import "includes/fading_exits/fadeOut"
//@import "includes/fading_exits/fadeOutDown"
//@import "includes/fading_exits/fadeOutDownBig"
//@import "includes/fading_exits/fadeOutLeft"
//@import "includes/fading_exits/fadeOutLeftBig"
//@import "includes/fading_exits/fadeOutRight"
//@import "includes/fading_exits/fadeOutRightBig"
//@import "includes/fading_exits/fadeOutUp"
//@import "includes/fading_exits/fadeOutUpBig"

// @import "includes/flippers/flip"
// @import "includes/flippers/flipInX"
// @import "includes/flippers/flipInY"
// @import "includes/flippers/flipOutX"
// @import "includes/flippers/flipOutY"
//
// @import "includes/lightspeed/lightSpeedIn"
// @import "includes/lightspeed/lightSpeedOut"
//
// @import "includes/rotating_entrances/rotateIn"
// @import "includes/rotating_entrances/rotateInDownLeft"
// @import "includes/rotating_entrances/rotateInDownRight"
// @import "includes/rotating_entrances/rotateInUpLeft"
// @import "includes/rotating_entrances/rotateInUpRight"
//
// @import "includes/rotating_exits/rotateOut"
// @import "includes/rotating_exits/rotateOutDownLeft"
// @import "includes/rotating_exits/rotateOutDownRight"
// @import "includes/rotating_exits/rotateOutUpLeft"
// @import "includes/rotating_exits/rotateOutUpRight"
//
// @import "includes/specials/hinge"
// @import "includes/specials/jackInTheBox"
// @import "includes/specials/rollIn"
// @import "includes/specials/rollOut"
//
// @import "includes/zooming_entrances/zoomIn"
// @import "includes/zooming_entrances/zoomInDown"
// @import "includes/zooming_entrances/zoomInLeft"
// @import "includes/zooming_entrances/zoomInRight"
// @import "includes/zooming_entrances/zoomInUp"
//
// @import "includes/zooming_exits/zoomOut"
// @import "includes/zooming_exits/zoomOutDown"
// @import "includes/zooming_exits/zoomOutLeft"
// @import "includes/zooming_exits/zoomOutRight"
// @import "includes/zooming_exits/zoomOutUp"
//
// @import "includes/sliding_entrances/slideInDown"
// @import "includes/sliding_entrances/slideInLeft"
// @import "includes/sliding_entrances/slideInRight"
// @import "includes/sliding_entrances/slideInUp"
//
// @import "includes/sliding_exits/slideOutDown"
// @import "includes/sliding_exits/slideOutLeft"
// @import "includes/sliding_exits/slideOutRight"
// @import "includes/sliding_exits/slideOutUp"
